.home-card {
  margin: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  background-color: var(--secondary-bg-color);
  max-width: 40rem;
}
.home-card__header-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-card__img--container {
  display: flex;
  align-items: center;
}
.home-card__img--Profile {
  width: 2.5rem;
  border-radius: 50%;
}
.home-card--userName {
  color: var(--primary-theme-color);
  font-size: 1.2rem;
  padding: 0 8px;
}
.home-card-Content--container {
  padding: 0.5rem;
}
.home-card__image {
  width: 100%;
}
.home-card-content {
  text-align: justify;
  font-size: var(--font-size-regular);
  font-weight: 100;
  color: var(--primary-theme-color);
}
.home-card-primary-icon--container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.home-card-like--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-card-like--icon-text {
  color: var(--primary-theme-color);
}
.home-card-comment-box--container {
  display: flex;
  padding: 8px;
}
.home-card-comment--container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
.home-card-comment-input-container {
  padding: 8px;
}
.home-card-comment-input {
  padding: 4px;
  width: 90%;
  border-radius: 8px 0 0px 8px;
  border: none;
}
.home-card-comment-send__btn{
  width: 10%;
  padding: 4px 4px;
  border-radius: 0 4px 4px 0 ;
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-theme-color);
}
.home-card-comment__img--Profile {
  border-radius: 50%;
  max-width: 3rem;
}
.home-card-comment-name--container {
  padding-left: 0.8rem;
}
.home-card-comment--name {
  padding: 2px;
}
.home-card-comment-userName {
  color: var(--primary-theme-color);
}
.home-card-comment-firstName {
  color: gray;
}
@media screen and (max-width: 400px) {
  .home-card {
    margin: 1rem 8px;
  }
}
