.suggestedUser-card {
  margin: 8px 0.5rem;
  padding: 0.5rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  border-radius: 8px;
  cursor: pointer;
}
.suggestedUser-card--container {
  display: flex;
}
.suggestedUser-card__img--Profile {
  border-radius: 50%;
  max-width: 3rem;
}
.suggestedUser-name--container {
  padding-left: 0.8rem;
}
.suggestedUser--name {
  padding: 2px;
}
.suggestedUser-card-userName {
  color: var(--primary-theme-color);
}
.suggestedUser-card-firstName {
  color: gray;
}
