.user-post-card--wrapper {
  justify-content: center;
}
.user-post-card {
  margin: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  background-color: var(--secondary-bg-color);
  max-width: 45rem;
}
.user-post-card__header-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-post-card__img--container {
  display: flex;
  align-items: center;
}
.user-post-card__img--Profile {
  width: 2.5rem;
  border-radius: 50%;
}
.user-post-card--userName {
  color: var(--primary-theme-color);
  font-size: 1.2rem;
  padding: 0 8px;
}
.user-post-card__btn--demo{
  padding:2px 4px ;
}
.user-post-card-Content--container {
  padding: 0.5rem;
}
.user-post-card__image {
  width: 100%;
}
.user-post-card-icon{
  cursor: pointer;
  position: relative;
}
.user-post-card-content {
  text-align: justify;
  font-size: var(--font-size-regular);
  font-weight: 100;
  color: var(--primary-theme-color);
}
.user-post-card-primary-icon--container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.user-post-card--icon__list {
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .user-post-card {
    margin: 1rem 8px;
  }
}
