.bookmark-card {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.bookmark-card--container {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  background-color: var(--secondary-bg-color);
  max-width: 20rem;
  height: fit-content;
}
.bookmark-card__header-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookmark-card__img--container {
  display: flex;
  align-items: center;
}
.bookmark-card__img--Profile {
  width: 2.5rem;
  border-radius: 50%;
}
.bookmark-card--userName {
  color: var(--primary-theme-color);
  font-size: 1.2rem;
  padding: 0 8px;
}
.bookmark-card-Content--container {
  padding: 0.5rem;
}
.bookmark-card__image {
  width: 100%;
}
.bookmark-card-content {
  text-align: justify;
  font-size: var(--font-size-regular);
  font-weight: 100;
  color: var(--primary-theme-color);
}
.bookmark-card-primary-icon--container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.bookmark-card--icon__list {
  cursor: pointer;
}
.bookmark--empty{
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  font-size: var(--font-size-X-large);
  color: var(--primary-theme-color);
}
@media screen and (max-width: 400px) {
  .bookmark-card--container {
    margin: 1rem 8px;
  }
}
